{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
<h3>Hakkımda</h3>
<hr>
<p> Merhabalar İsmim Oktay Evrensel, Uzun yıllardır bilgisayar ile iç içeyim comodore 64 döneminden beri bilgisayar programlama,bilişim teknolojileri,yapay zeka ve robotik kodlamaya ilgi duymaktayım. 2022 yılından beri ise profesyonel anlamda kendimi bu yöne yönelttim.</p>
<p> Bu siteyi kurmamda ki amacım ise herkese ilham vermesi ve kendini sınrlardan kurtararak birşeyleri başarabileceğine inanmasını sağlamak. Ayrıca benim gibi yeni başlayan insanlara olabilecek en basit şekilde kodlamayı,yeni teknolojileri veya bilişim ile ilgili konuları anlatmak</p>
<p> Umarım bir çoğunuza bir ilham kaynağı olabilirim.</p>
</div>
{% endblock %}